<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mohamed ELbadry Portfolio</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/static/style/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

    <!-- JavaScript linking -->
    <script defer src="/static/scripts.js"></script>
</head>
<body>
    <!-- Navigation Bar section -->
    <header class="header">
        <div class="logo">
            <a href="#">
                <img src="/static/pics/logo2.png" alt="Logo" class="logo-img logo-default">
                <img src="/static/pics/logo.png" alt="Logo Hover" class="logo-img logo-hover">
            </a>
        </div>

        <nav class="navbar">
            <ul>
                <li>
                    <a href="#home-section">
                        <span class="text">Home</span>
                        <img src="/static/pics/home.png" alt="Home Icon" class="icon">
                    </a>
                </li>
                <li>
                    <a href="#about-section">
                        <span class="text">About</span>
                        <img src="/static/pics/about.png" alt="About Icon" class="icon">
                    </a>
                </li>
                <li>
                    <a href="#skills-section">
                        <span class="text">Skills</span>
                        <img src="/static/pics/skills.png" alt="Skills Icon" class="icon">
                    </a>
                </li>
                <li>
                    <a href="#projects-section">
                        <span class="text">Projects</span>
                        <img src="/static/pics/project.png" alt="Projects Icon" class="icon">
                    </a>
                </li>
                <li>
                    <a href="#contact-section">
                        <span class="text">Contact</span>
                        <img src="/static/pics/contact.png" alt="Contact Icon" class="icon">
                    </a>
                </li>
                <li>
                    <a href="#resume">
                        <span class="text">Resume</span>
                        <img src="/static/pics/resume.png" alt="Resume Icon" class="icon">
                    </a>
                </li>
            </ul>
            
        </nav>
        
    </header>
    <!-- Navigation Bar section ends -->

<!-- Home section start -->
<section id="home-section" class="home-section">
    <div class="home-container">
        <div class="left-side">
            <h2 class="heading1">Hi!</h2>
            <h2 class="heading">I'm Mohamed El Badry</h2>
            <h2 class="heading2">Web Developer</h2>
            <h2 class="heading2">UX.UI designer</h2>

            <p class="first-text">I'm a passionate web developer with a love for design and photography. currently studying Web Design & Development at Edinburgh Napier univeristy .</p>
            <p class="second-text">please feel free to explore my Work, admire my portfolio and check my projects.</p>
        </div>
        <div class="right-side">
            <div class="image-frame">
                <img src="/static/pics/profile.jpg" alt="Animated Image" class="animated-image">
            </div>
        </div>
    </div>
</section>

<section id="stats-section" class="stats-section">
    <div class="section-title">
        <h2 class="heading1">My <span class="heading">Experience</span></h2>
    </div>
    
    <div class="stats-container">
        <div class="stat-box">
            <h3 class="stat-number" data-target="2">0</h3>
            <p>Years in Web Design</p>
        </div>
        <div class="stat-box">
            <h3 class="stat-number" data-target="2">0</h3>
            <p>Years in UI/UX Design</p>
        </div>
        <div class="stat-box">
            <h3 class="stat-number" data-target="3">0</h3>
            <p>Years in Digital Design</p>
        </div>
        <div class="stat-box">
            <h3 class="stat-number" data-target="2">0</h3>
            <p>Years in Video Making</p>
        </div>
        <div class="stat-box">
            <h3 class="stat-number" data-target="7">0</h3>
            <p>Completed Projects</p>
        </div>
        <div class="stat-box">
            <h3 class="stat-number" data-target="7">0</h3>
            <p>Happy Clients</p>
        </div>
    </div>
    <div class="work-locations">
        <h3>Work Locations</h3>
        <div class="locations">
            <div class="location-item">
                <img src="/static/pics/edinburgh.png" alt="Edinburgh" class="location-icon">
                <span>Edinburgh</span>
            </div>
            <div class="location-item">
                <img src="/static/pics/london.png" alt="London" class="location-icon">
                <span>London</span>
            </div>
            <div class="location-item">
                <img src="/static/pics/cairo.png" alt="Cairo" class="location-icon">
                <span>Cairo</span>
            </div>
            <div class="location-item">
                <img src="/static/pics/milan.png" alt="Milan" class="location-icon">
                <span>Milan</span>
            </div>
        </div>
    </div>
    
</section>
    
    
<!-- about section start -->
<section id="about-section" class="about-section">
    <div class="section-title">
        <h2 class="heading">About <span class="heading1">Me</span></h2>
    </div>

    <div class="about-container">
        <div class="about-box past" id="past">
            <h2>Past</h2>
            <p>My journey started with civil engineering, but during the covid era I found my passion in computing specifically  web development. That passion made me leave engineering and do HND web development at Edinburgh college. </p>
        </div>
        <div class="about-box present" id="present">
            <h2>Present</h2>
            <p>Currently, I'm in my 4th year of BSc (Hons) Web Design & Development at Edinburgh napier university, where I can valuable skills and knowledge to help me master the career I fall in love with.</p>
        </div>
        <div class="about-box future" id="future">
            <h2>Future</h2>
            <p>I am excited for the future and getting a job in something I love, I am not planning to stop learning and developing my skills, My goal is to dive into AI and blend it with web development for innovative solutions.</p>
        </div>
    </div>
</section>


<section id="skills-section" class="skills-section">
    <div class="section-title">
        <h2 class="heading1">My <span class="heading">Skills</span></h2>
    </div>

    <!-- Frontend Skills -->
    <div class="skill-category">
        <h2 class="category-heading">Frontend Development</h2>
        <div class="skills-container">
            <div class="skill-box">
                <img src="/static/pics/html.png" alt="HTML Icon" class="skill-icon">
                <h3>HTML</h3>
            </div>

            <div class="skill-box">
                <img src="/static/pics/css.png" alt="CSS Icon" class="skill-icon">
                <h3>CSS</h3>
            </div>

            <div class="skill-box">
                <img src="/static/pics/js.png" alt="JavaScript Icon" class="skill-icon">
                <h3>javascript</h3>
            </div>
            
            <div class="skill-box">
                <img src="/static/pics/react.png" alt="JavaScript Icon" class="skill-icon">
                <h3>React</h3>
            </div>
            <div class="skill-box">
                <img src="/static/pics/j.png" alt="Jquery Icon" class="skill-icon">
                <h3>Jquery</h3>
            </div>
        </div>
    </div>

    <!-- Backend Skills -->
    <div class="skill-category">
        <h2 class="category-heading">Backend Development</h2>
        <div class="skills-container">
            <div class="skill-box">
                <img src="/static/pics/flask.png" alt="Flask Icon" class="skill-icon">
                <h3>Flask</h3>
            </div>

            <div class="skill-box">
                <img src="/static/pics/python.png" alt="Python Icon" class="skill-icon">
                <h3>Python</h3>
            </div>

            <div class="skill-box">
                <img src="/static/pics/java.png" alt="Java Icon" class="skill-icon">
                <h3>Java</h3>
            </div>
            <div class="skill-box">
                <img src="/static/pics/c.png" alt="c Icon" class="skill-icon">
                <h3>C</h3>
            </div>
            <div class="skill-box">
                <img src="/static/pics/node.png" alt="node Icon" class="skill-icon">
                <h3>node.js</h3>
            </div>
        </div>
    </div>

    <!-- Design Skills -->
    <div class="skill-category">
        <h2 class="category-heading">UX.UI designs</h2>
        <div class="skills-container">
            <div class="skill-box">
                <img src="/static/pics/photoshop.png" alt="Photoshop Icon" class="skill-icon">
                <h3>Photoshop</h3>
            </div>

            <div class="skill-box">
                <img src="/static/pics/illustrator.png" alt="Illustrator Icon" class="skill-icon">
                <h3>Illustrator</h3>
            </div>
            <div class="skill-box">
                <img src="/static/pics/adobe.png" alt="adobe Icon" class="skill-icon">
                <h3>adobe xd</h3>
            </div>
            <div class="skill-box">
                <img src="/static/pics/figma.png" alt="Figma Icon" class="skill-icon">
                <h3>Figma</h3>
            </div>

            <div class="skill-box">
                <img src="/static/pics/davinci.png" alt="DaVinci Resolve Icon" class="skill-icon">
                <h3>DaVinci Resolve</h3>
            </div>
        </div>
    </div>
</section>


        <!-- project section -->

<section id="projects-section" class="projects-section">
    <div class="section-title">
        <h2 class="heading1">My <span class="heading">Projects</span></h2>
    </div>

    <div class="projects-container">
        <div class="project-box">
            <div class="project-carousel swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="/static/pics/website.png" alt="Project Image 1"></div>
                    <div class="swiper-slide"><img src="/static/pics/website2.png" alt="Project Image 2"></div>
                    <div class="swiper-slide"><img src="/static/pics/website3.png" alt="Project Image 3"></div>
                </div>
                <!-- Pagination (Dots) & Navigation (Arrows) -->
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
            
            <!-- Swiper CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css">
<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

            <div class="project-text">
                <h3>Photographer portofolio</h3>
                <p>This is my latest project, it is a portofolio for an Edinburgh based photographer to showcase his skills and allow customers to contact him directly. the website has some of his work plus the option to purchase some of his prints. This website is mainly made using HTML, CSS and JS.</p>
                <a href="https://photography-website-ko83.onrender.com/" class="project-button" target="_blank">View Project</a>
                
            </div>
        </div>
    </div>
</section>

<!-- Contact Section -->
<section id="contact-section" class="contact-section">
    <div class="section-title">
        <h2 class="heading1">Want <span class="heading">to hire me?</span></h2>
    </div>    <p class="contact-subtitle">Offer me an interview maybe.</p>

    <form id="contact-form" class="contact-form">
        <div class="form-group">
            <label for="name">Full Name/comapny name</label>
            <input type="text" id="name" name="name" required placeholder="Enter your full name">
        </div>

        <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" id="email" name="email" required placeholder="Enter your email">
        </div>

        <div class="form-group">
            <label for="phone">Phone Number</label>
            <input type="tel" id="phone" name="phone" required placeholder="+44 1234 567890">
        </div>
        <div class="form-group">
            <label for="phone">Your message</label>
            <input type="tel" id="message" name="message" required placeholder="We want to hire you">
        </div>

        <div class="form-group">
            <label for="booking-date">Preferred Interview Date</label>
            <input type="date" id="booking-date" name="booking-date" required>
        </div>
        <button type="submit" class="submit-btn">Send message</button>
        <p class="form-success">✅ Your message has been sent successfully!</p>
    </form>
    
</section>

<section id="resume" class="resume-section">
    <div class="section-title">
        <h2>My <span class="highlight">Resume</span></h2>
    </div>
    <div class="resume-content">
        <div class="resume-overview">
            <h3>Brief Overview</h3>
            <p>With 2+ years of experience in web development, UI , UX design, and digital content creation, I have worked on various projects that have sharpened my skills in front-end and back-end development during my study at Napier univeristy.</p>
            <p>As a passionate person, I am constantly seeking opportunities and developing my skills, to innovate and create user-friendly, responsive, and visually appealing web applications.</p>
            <a href="/static/pics/Resume.pdf" class="resume-button" target="_blank">Download my Resume</a>
        </div>
        <div class="resume-btns">
            <a href="/static/pics/Resume.pdf" class="resume-button" target="_blank">Download my Full Resume</a>
            <a href="#projects-section" class="view-projects-btn">View My Projects</a>
        </div>
    </div>
</section>


<footer class="footer">
    <div class="footer-content">
        <p>&copy; 2025 Mohamed El Badry. All rights reserved.</p>
        <div class="social-icons">
            <a href="https://www.instagram.com/itselbadry/" target="_blank">
                <img src="/static/pics/instagram.png" alt="Instagram">
            </a>

            <a href="https://github.com/MohamedElbadry0" target="_blank">
                <img src="/static/pics/github.png" alt="GitHub">
            </a>
            <a href="https://twitter.com/" target="_blank">
                <img src="/static/pics/twitter.png" alt="Twitter">
            </a>
        </div>
    </div>
</footer>



    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
